@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  min-height: calc(100vh - 80px);
}
.dashheader {
  z-index: 500;
}
.dashside {
  z-index: 600;
}
.swiper-wrapper {
  margin-bottom: 30px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px !important; /* تقليل حجم السهم */
  font-weight: bold;
}

.swiper-pagination {
  position: relative;
  margin-bottom: -13px;
  text-align: center;
  margin-top: 1rem;
  z-index: 10;
}
.swiper-pagination-bullet {
  background-color: #0e7490; /* لون نقط حسب ثيمك */
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #164e63; /* لون النقطة الفعالة */
}
